<% if model.errors.any? %> 
<%# <%= render partial: 'shared/error_messages', locals: { model: @item} %> 
<div class="error-alert">
  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %> 